name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build with Java 25
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Build with Maven (Skip Tests)
      run: mvn -B clean compile -DskipTests
      
    - name: Package Application
      run: mvn -B package -DskipTests
      
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: lista-mercado-app
        path: target/*.jar
